/* Header section */

header {
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    height: 40px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1400px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 33%;
    justify-content: space-around;
    color:  rgba(168, 200, 246, 0.9);
}

nav ul li:hover {
    font-weight: 700;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
}


.current-page {
    text-decoration: underline;
}

.social-icons-all {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icons {
    font-size: 20px;
    height: auto;
    color: rgba(255, 255, 255, 0.9);
    padding-left: 20px;
}

#mobile-menu {
    display: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#mobile-menu:hover {
    color: rgba(255, 255, 255, 0.6);
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    font-size: 18px;
    width: 33%;
    color: rgba(255, 255, 255, 0.9)
}