
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header section */

header {
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    height: 40px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1400px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 33%;
    justify-content: space-around;
    color:  rgba(168, 200, 246, 0.9);
}

nav ul li:hover {
    font-weight: 700;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
}


.current-page {
    text-decoration: underline;
}

.social-icons-all {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icons {
    font-size: 20px;
    height: auto;
    color: rgba(255, 255, 255, 0.9);
    padding-left: 20px;
}

#mobile-menu {
    display: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#mobile-menu:hover {
    color: rgba(255, 255, 255, 0.6);
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    font-size: 18px;
    width: 33%;
    color: rgba(255, 255, 255, 0.9)
}



/* Main section */

.hero-section {
    background-image: url("../Assets/Hero Image.jpg");
    height: 360px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 40px;
    position: relative;    
    display: flex;
    flex-direction: column;
    align-items: center;
    }


.hero-section h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    padding-top: 88px;
}

.hero-section h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    padding-top: 4px;
}

.search-container {
    text-align: center;
    height: 32px;
    width: 324px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    position: absolute;
    bottom: 24px;   
    z-index: 0;
}

.search-container input {
    width: 90%;
    background-color: #FFFFFF;
    border: none;
    font-size: 12px;
    color: rgba(106, 106, 106, 1);
    border-radius: 4px;
}

.search-container input::placeholder {
    padding-left: 8px;
}

.search-container button {
    border: none;
    background: #FFFFFF;
    font-size: 20px;
    color: #6A6A6A;
    padding-right: 8px;
    margin: 0px 0px 0px 8px;
    border-radius: 4px;
}

.search-container button:hover {
    cursor: pointer;
}


/* Recipe Grid in Main section */

.all-recipes {
    padding: 0px 40px;
    display: grid;
    gap: 32px 48px;
    grid-template-columns:repeat(auto-fill,minmax(max(230px,100%/4 - 48px),1fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    justify-items: center;
    max-width: 1400px;
    margin: auto;
}


/* Recipe cards in Main section */

.recipe-card {
    height: auto;
    width: 230px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 46px 160px 26px 24px 28px;
    border-radius: 4px;
    background-color: #FFFFFF;
    filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.25));
}

.recipe-image-container {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    margin: 0px;
    padding: 0px;
    opacity: 0.9;
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;
}
.recipe-image-container:hover {
    opacity: 1;
}

.cuisine-type {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    height: 24px;
    padding: 4px;
    max-width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6A6A6A;
    font-size: 14px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 12px;
    z-index: 10;
}

.recipe-card .rating {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    align-self: center;
    font-size: 12px;
    color: #E7C618;
    padding-left: 12px;
}

.date {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    align-self: center;
    font-size: 14px;
    margin: 0px;
    text-align: right;
    font-size: 12px;
    color: #6A6A6A;
    padding-right: 12px;
}

.recipe-name {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    align-self: center;
    font-size: 20px;
    align-self: center;
    margin: 0px;
    color: #454545;
    font-weight: 400;
    padding-left: 12px;
}

.view-recipe {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    align-self: center;
    font-size: 14px;
    text-align: right;
    color: rgba(6, 167, 133, 0.9);
    text-decoration: none;
    padding-right: 12px;
}

.view-recipe:hover {
    font-weight: 700;
    text-decoration: underline;
}

#load-more {
    display: block;
    margin: auto;
    background-color: #A8C8F6;
    color: #454545;
    font-size: 14px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
    margin-top: 32px;
}

#load-more:hover {
    background-color: rgba(133, 182, 255, 0.9);
    cursor: pointer;
}


/* Footer section */

footer {
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #D9D9D9;
}

.copyright {
    color: #454545;
    font-size: 12px;
}

.subscribe label {
    color: #454545;
    font-size: 14px;
}

#email {
    height: 28px;
    width: 240px;
    border-radius: 4px;
    border: none
}

#email::placeholder {
    font-size: 12px;
    color: #6A6A6A;
    padding-left: 8px
}

.subscribe button {
    color: #454545;
    font-size: 14px;
    background-color: rgba(168, 200, 246, 0.9);
    border: none;
    border-radius: 4px;
    padding: 4px;
}

.subscribe button:hover {
    background-color: rgba(133, 182, 255, 0.9);
    cursor: pointer;
}



/* Screen size less than 800px */
@media screen and (max-width: 800px){
    nav ul {
        display: none;
    }
    .social-icons-all {
        display: none;
    }
    h1 {
        width: 80%;
    }
    #mobile-menu {
        display: inline;
    }

    footer {
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80px;
        background-color: #D9D9D9;
    }
    .copyright {
       order: 2;
    }
}
