@import "styles_header.css";
@import "styles_footer.css";
@import "styles.css";

.recipe-details {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
}

.recipe-image {
    width: 100%;
    height: auto;
    grid-column: 1 / span 1;
    margin: 0;
    overflow: hidden;
    border-radius: 0 100px 100px 0;
}

.recipe-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-instructions {
    grid-column: 2 / span 1;
    padding: 32px 48px;
}

.recipe-instructions h2 {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    color: #454545;
}

.recipe-instructions .rating {
    font-size: 12px;
    color: #E7C618;
}

.details {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 14px; 
    font-weight: 100;
    color: #454545;
    padding: 32px 0px;
}

.figures {
    font-size: 20px;
    font-weight: 400;
}

.details hr{
   opacity: 0.7;
}

.recipe-instructions h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #454545;
}

.ingredients {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-bottom: 32px;
}

.directions ol  {
    list-style: none;
    margin-top: 0px;
}

.directions ol li {
    counter-increment: counter;
  }

.directions ol li::before {
content: counter(counter) ". ";
color: #454545;
font-size: 32px;
font-family: 'Playfair Display SC', serif;
}

@media screen and (max-width: 1000px){   
    .recipe-image {
        width: 100%;
        height: 300px;
        grid-column: 1 / span 2;
        margin: 0;
        overflow: hidden;
        border-radius: 0 0 120px 120px;
    }
    .recipe-instructions {
        grid-column: 1 / span 2;
        padding: 32px 48px;
    }
}